@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

.v-list-item--active {
    background-color: red;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.mt-2 {
    margin-top: 2rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.ml-2 {
    margin-left: 2rem;
}

.ml-auto {
    margin-left: auto;
}

.top-bar {
    display: flex;
    flex-direction: row;
    font-size: 1.6rem;
    border-bottom: 1px solid white;
}
